<footer>
  <div class="container">
    <div class="first-sec">
      <div class="left-sec">
        <h2>
          Sign up and <br />
          get free contect every week.
        </h2>
        <input type="email" placeholder="Enter your email..." />
        <button class="btn-s">Sign Up</button>
      </div>
      <div class="right-sec">
          <h2>Browse by categories</h2>
      

        <div class="options">
          <div class="colum">
            <ul>
              <li><a href="#">Graphics</a></li>
              <li><a href="#">PSDs</a></li>
              <li><a href="#">Icons</a></li>
              <li><a href="#">Template</a></li>
              <li><a href="#">Themes</a></li>
            </ul>
          </div>
          <div class="colum">
            <ul>
              <li><a href="#">Addons</a></li>
              <li><a href="#">Fonts</a></li>
              <li><a href="#">Textures</a></li>
              <li><a href="#">Patterns</a></li>
              <li><a href="#">Background</a></li>
            </ul>
          </div>
          <div class="colum">
            <ul>
              <li><a href="#">Button</a></li>
              <li><a href="#">Forms</a></li>
              <li><a href="#">GHI</a></li>
              <li><a href="#">Navigation</a></li>
              <li><a href="#">UI Kits</a></li>
            </ul>
          </div>

          <div class="colum">
            <ul>
              <li><a href="#">Inforgraphics</a></li>
              <li><a href="#">Graphs</a></li>
              <li><a href="#">Logos</a></li>
              <li><a href="#">Vectors</a></li>
              <li><a href="#">Business Cards</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <div class="second-sec">
     <div class="left">

       <div class="last-o">
         <a href="#">Affiliates</a>
         <p>/</p>
         <a href="#">Contributors</a>
         <p>/</p>
         <a href="#">Pres</a>
         <p>/</p>
         <a href="#">Media</a>
         <p>/</p>
         <a href="#">Careers</a>
         <p>/</p>
         <a href="#">About</a>
         <p>/</p>
         <a href="#">Contect</a>
        </div>
       

          <div class="right">
            <div class="icons">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-twitter"></a>
              <a href="#" class="fa fa-google"></a>
              <a href="#" class="fa fa-wifi"></a>
    
              
            
          </div>
         
        </div>
        </div>
        <p class="copyright">
          Copyright © 2018 MyCompany All right reserved.
        </p>
    
    </div>
  </div>
</footer>
